@import '../../constants.scss';

.root {
  color: $color-text;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 1.25;
}

.yes {
  color: $color-text-yes;
}

.no {
  color: $color-text-no;
}

.large {
  font-size: 0.875rem;
}
