@import '../../constants.scss';

.root {
  > svg {
    width: 100%;
    height: auto;
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.empty {
  stroke: #ccc;
  fill: none;
}

.filled {
  stroke: none;
  fill: #555;
}

.darker {
  fill: #333;
}
