@import '../../constants.scss';

.root {
  font-size: 0.875rem;
}

.party {
  font-size: 0.6875rem;
}

.vote {
  margin-top: 0.25rem;
  color: $color-text-label;
  font-size: 0.75rem;
  font-weight: bold;

  &::before {
    content: '';
    display: inline-block;
    transform: translate(0, 0.03125rem);
    margin-right: 0.375rem;
    border: 0.0625rem solid currentColor;
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    background-color: currentColor;
  }

  &.y {
    color: $color-text-yes;

    &::before {
      color: $color-shape-yes;
    }
  }

  &.n {
    color: $color-text-no;

    &::before {
      color: $color-shape-no;
    }
  }

  &.u {
    color: $color-text-other;

    &::before {
      color: $color-shape-other;
    }
  }

  &.a,
  &.i {
    color: $color-text-other;

    &:before {
      color: $color-shape-other;
      background-color: transparent;
    }
  }
}
