@import '../../constants.scss';

.root {
  position: relative;
  line-height: 0;

  progress {
    appearance: none;
    border: none;
    padding: 0;
    width: 100%;
    background: $color-shape-no;
    color: $color-shape-yes;

    &::-webkit-progress-bar {
      background: none;
    }

    &::-webkit-progress-value {
      background: $color-shape-yes;
    }

    &::-moz-progress-bar {
      background: $color-shape-yes;
    }

    &::-ms-fill {
      background: $color-shape-yes;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 0.5px);
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.normal {
  composes: root;

  progress {
    height: 0.75rem;
  }
}

.tall {
  composes: root;

  progress {
    height: 1.5rem;
  }
}
