@import '../../constants.scss';

.root {
  margin-bottom: 2rem;
  color: $color-text;

  &,
  & button,
  & input,
  & select,
  & textarea {
    font-family: ABCSans, Helvetica, Arial, sans-serif;
  }
}
