@import '../../constants.scss';

.root {
  margin-bottom: 2rem;
  font-family: ABCSans, Helvetica, Arial, sans-serif;
  color: $color-text;

  p {
    font-family: ABCSerif, 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  }
}
