@import '../../constants.scss';

.root {
  position: relative;

  > select {
    margin: 0;
    border: 0;
    padding: 0.25rem 1.375rem 0.25rem 0.5rem;
    -webkit-padding-end: 1.375rem;
    -moz-padding-end: 1.375rem;
    -webkit-padding-start: 0.5rem;
    -moz-padding-start: 0.5rem;
    width: 100%;
    height: 1.5rem;
    background-color: transparent;
    color: $color-text;
    font-family: inherit;
    font-size: 1em;
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: menulist-text;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &::-ms-value {
      color: $color-text;
    }

    &::-ms-expand {
      display: none;
    }

    > option {
      padding: 0; // Override News styling
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 0.875rem;
    height: 0.875rem;
    background-image: url(./arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100%;
    pointer-events: none;
  }
}
