.root {
  border: 0.0625rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  padding: 0.75rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  background-color: #fff;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
