$color-text: #333;
$color-text-label: #666;
$color-text-yes: #c44b00;
$color-text-no: #007d99;
$color-shape: #999;
$color-shape-yes: #ff7400;
$color-shape-no: #18849c;

$size-card-text: 0.9375rem;
$size-card-label: 0.6875rem;
$size-card-label-pct: 0.75rem;
$size-card-label-waffle: 0.8125rem;
$size-card-national-heading: 1rem;
$size-card-national-label: 0.75rem;
$size-card-national-label-pct: 0.875rem;
