$color-text: #333;
$color-text-label: #666;
$color-text-yes: #cc4e00;
$color-text-no: #238196;
$color-shape: #999;
$color-shape-yes: #ff7926;
$color-shape-no: #60c5db;

$mq-not-sm: (min-width: 43.75rem);
