@import './constants.scss';

:global .u-quote {
  margin: 0 auto !important;
  max-width: 17rem !important;
  font-size: 1.3rem !important;

  @media #{$mq-not-sm} {
    max-width: 28rem !important;
    font-size: 1.45rem !important;
  }
}
