.root {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin-top: 0.125rem;
  }

  & > :last-child {
    text-align: right;
  }

  & > * > :first-child ~ * {
    margin-top: 0.25rem;
  }
}
